.containerCadastro {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    margin: 3% 0;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    width: 50%;
    height: 100%;
    gap: 15%;
}


.conteudo input, select{
    margin-bottom: 50px;
    border: 0;
    border-bottom: 1.5px solid rgb(62, 60, 202);
    width: 100%;
}

.conteudo select{
  appearance: none;
  transition: 0.5s;
  
  background-color: transparent;
  border-bottom: 1.5px solid rgb(62, 60, 202);
  width: 100%;
  cursor: pointer;
}

#buttonEnviar{
    transition: 0.5s;
    margin-top: 15%;
    margin-left: 14%;
    border-radius: 20px;
    border: 1px rgb(62, 60, 202) solid;
    height: 2.5em;
    width: 75%;

    font-weight: bolder;
    cursor: pointer;
}

#buttonEnviar:hover{
    transition: 0.5s;
    transform: scale(1.3);
    background-color: rgb(62, 60, 202);
    color: white;
}





.conteudo img{
    transition: 0.5s;
    transform: scale(1.3);
    width: 400px;
    height: 400px;
}

.conteudo img:hover{
    transition: 0.5s;
    transform: scale(1.25);
}